################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Server/WebApi/bin/Debug/netcoreapp3.1
/Server/WebApi/obj
/Server/.vs/Server/v16
/Server/WebApi/WebApi.csproj.user
/Server/.vs/Server/DesignTimeBuild/.dtbcache.v2
